<section class="prompt">
  <h1>로그인</h1>
  <form action="/login" method="POST">
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required />
    </div>
    <button type="submit">로그인</button>
    <a href="/auth/google">구글 로그인</a>
  </form>
  <p>아직 아이디가 없다면<a href="/signup">회원가입</a></p>
</section>
